<header>
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <div class="navbar-container container-width">
                <span class="account-name">Welkom: Service desk</span>
                <a class="navbar-brand" href="/"><img src="/assets/media/logo.svg" alt="NOVIK logo"/></a>
                <button type="button" class="hamburger hamburger--slider navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
                <span class="search"><i class="fa fa-search search" aria-hidden="true"></i></span>
            </div>
        </div>
        {% include '../hamburgermenu.html.twig' %}
    </nav>
</header>