{% extends "../layouts/base.htm" %}

{% block page %}

    <img class="img-responsive current-receipt-image" src="assets/images/huidige-bon-large.jpg" />
    <div class="col-xs-12">
        <a href="accordions-page.html" class="btn btn-default btn-light text-left icon-caret-left">
            TERUG
        </a>
    </div>

{% endblock %}