{% extends "../layouts/base.htm" %}

{% block page %}

<div class="container margin-top-30">
    <div class="row">
        <div class="col-xs-12">
            <span class="title">Step 1</span>
            <div class="progressbar">
                <span class="bar width-8"></span>
                <span class="text">Bekijk keuzes van andere stappen</span>
            </div>

            <span class="title">Step 2</span>
            <div class="progressbar">
                <span class="bar width-16"></span>
                <span class="text">Bekijk keuzes van andere stappen</span>
            </div>

            <span class="title">Step 3</span>
            <div class="progressbar">
                <span class="bar width-24"></span>
                <span class="text">Bekijk keuzes van andere stappen</span>
            </div>

            <span class="title">Step 4</span>
            <div class="progressbar">
                <span class="bar width-32"></span>
                <span class="text">Bekijk keuzes van andere stappen</span>
            </div>

            <span class="title">Step 5</span>
            <div class="progressbar">
                <span class="bar width-40"></span>
                <span class="text">Bekijk keuzes van andere stappen</span>
            </div>

            <span class="title">Step 6</span>
            <div class="progressbar">
                <span class="bar width-48"></span>
                <span class="text">Bekijk keuzes van andere stappen</span>
            </div>

            <span class="title">Step 7</span>
            <div class="progressbar">
                <span class="bar width-56"></span>
                <span class="text">Bekijk keuzes van andere stappen</span>
            </div>

            <span class="title">Step 8</span>
            <div class="progressbar">
                <span class="bar width-64"></span>
                <span class="text">Bekijk keuzes van andere stappen</span>
            </div>

            <span class="title">Step 9</span>
            <div class="progressbar">
                <span class="bar width-72"></span>
                <span class="text">Bekijk keuzes van andere stappen</span>
            </div>

            <span class="title">Step 10</span>
            <div class="progressbar">
                <span class="bar width-80"></span>
                <span class="text">Bekijk keuzes van andere stappen</span>
            </div>

            <span class="title">Step 11</span>
            <div class="progressbar">
                <span class="bar width-88"></span>
                <span class="text">Bekijk keuzes van andere stappen</span>
            </div>

            <span class="title">Step 12</span>
            <div class="progressbar">
                <span class="bar width-96"></span>
                <span class="text">Bekijk keuzes van andere stappen</span>
            </div>

            <span class="title">Step 13</span>
            <div class="progressbar">
                <span class="bar width-100"></span>
                <span class="text">Bekijk keuzes van andere stappen</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}