<img class="logo" src="assets/images/logo.svg" alt="logo NOVIK" />
<span class="title">NETTI SNIJDERS</span>

<div class="panel-group panel-group-default" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#panelTitleOne" aria-expanded="true" aria-controls="panelTitleOne">
                    PERSOONS GEGEVENS
                    <i class="fa fa-check" aria-hidden="true"></i>
                </a>
            </h4>
        </div>
        <div id="panelTitleOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label>Geslacht</label>
                        <select class="form-control">
                            <option value="">Geslacht</option>
                            <option value="mevr">Mevr</option>
                            <option value="dhr">Dhr</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Voornaam</label>
                        <input type="text" class="form-control" name="voornaam" placeholder="Voornaam" />
                    </div>
                    <div class="form-group">
                        <label>Tussenvoegsel</label>
                        <input type="text" class="form-control" name="tussenvoegsel" placeholder="Tussenvoegsel" />
                    </div>
                    <div class="form-group">
                        <label>Achternaam</label>
                        <input type="text" class="form-control" name="achternaam" placeholder="Achternaam" />
                    </div>
                    <div class="col-xs-6 padding-left-0">
                        <div class="form-group">
                            <label>Geboortedatum</label>
                            <input type="text" class="form-control" name="geboortedatum" placeholder="dd-mm-jjjj" />
                        </div>
                    </div>
                    <div class="col-xs-6 padding-right-0">
                        <div class="form-group">
                            <label>Taal</label>
                            <select class="form-control">
                                <option value="">Taal</option>
                                <option value="nederlands">Nederlands</option>
                                <option value="engels">Engels</option>
                            </select>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-group">
                        <label>IBAN-nummer</label>
                        <input type="text" class="form-control" name="iban-nummer" placeholder="NL00 BANK 0000 000 000" />
                    </div>
                    <div class="form-group">
                        <label>IBAN-nummer opnieuw</label>
                        <input type="text" class="form-control" name="iban-nummer-check" placeholder="NL00 BANK 0000 000 000" />
                    </div>
                    <div class="form-group">
                        <label>Tenaamstelling IBAN</label>
                        <input type="text" class="form-control" name="tenaamstelling" placeholder="Tenaamstelling" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#panelTitleTwo" aria-expanded="false" aria-controls="panelTitleTwo">
                    CONTACT INFORMATIE
                    <i class="fa fa-check hidden" aria-hidden="true"></i>
                </a>
            </h4>
        </div>
        <div id="panelTitleTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label>Straatnaam</label>
                        <input type="text" class="form-control" name="straat" placeholder="Straatnaam" />
                    </div>
                    <div class="col-xs-6 padding-left-0">
                        <div class="form-group">
                            <label>Huisnummer</label>
                            <input type="text" class="form-control" name="huisnummer" placeholder="Huisnummer" />
                        </div>
                    </div>
                    <div class="col-xs-6 padding-right-0">
                        <div class="form-group">
                            <label>Toevoeging</label>
                            <input type="text" class="form-control" name="toevoeging" placeholder="Toevoeging" />
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-group">
                        <label>Postcode</label>
                        <input type="text" class="form-control" name="postcode" placeholder="0000 XX" />
                    </div>
                    <div class="form-group">
                        <label>Woonplaats</label>
                        <input type="text" class="form-control" name="woonplaats" placeholder="Woonplaats" />
                    </div>
                    <div class="form-group">
                        <label>Land</label>
                        <select class="form-control">
                            <option value="">Land</option>
                            <option value="nederland">Nederland</option>
                            <option value="engeland">Engeland</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="text" class="form-control" name="e-mail" placeholder="E-mail" />
                    </div>
                    <div class="form-group">
                        <label>Telefoonnummer</label>
                        <input type="text" class="form-control" name="telefoonnummer" placeholder="00-00000000" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#panelTitleTree" aria-expanded="false" aria-controls="panelTitleTree">
                    CAMPAGNE INFORMATIE
                    <i class="fa fa-check hidden" aria-hidden="true"></i>
                </a>
            </h4>
        </div>
        <div id="panelTitleTree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <form>
                    <span class="display-block">Campagne</span>
                    <span class="display-block">16-0061 Februari 2016: Bol.com Gratis 34-delige</span>
                    <span class="display-block margin-bottom-20">X-line accessoireset couponactie</span>

                    <span class="display-block">Actiecode</span>
                    <span class="display-block margin-bottom-20">XXXXXXXXXXX</span>

                    <span class="display-block">Merk</span>
                    <span class="display-block margin-bottom-20">Bosch Consumers</span>

                    <div class="form-group">
                        <label>Product</label>
                        <select class="form-control">
                            <option value=""></option>
                            <option value="product-1">Product 1</option>
                            <option value="product-2">Product 2</option>
                        </select>
                    </div>

                    <span class="display-block">Streepjescode</span>
                    <span class="display-block margin-bottom-20">XXXXXXXXXXX</span>

                    <span class="display-block">Serienummer</span>
                    <span class="display-block margin-bottom-20">XXXXXXXXXXX</span>

                    <span class="display-block">Bonnummer</span>
                    <span class="display-block margin-bottom-20">Undefined</span>

                    <span class="display-block">Retailer</span>
                    <span class="display-block margin-bottom-20">Bol.com</span>

                    <div class="col-xs-7 padding-left-0">
                        <span>
                            Huidige bon<br>
                            Klik op de bon om deze te vergroten en te bekijken.
                        </span>
                    </div>

                    <div class="col-xs-5 padding-right-0">
                        <a href="current-receipt-page.html" title="Current Receipt Page">
                            <img class="current-receipt pull-right" src="assets/images/huidige-bon.jpg" />
                        </a>
                    </div>

                    <div class="clearfix"></div>

                    <a class="btn btn-primary text-left icon-caret-right" data-toggle="button">
                        BON OVERSCHRIJVEN - KIES BESTAND
                        <span class="text-xs">.JPG / .BMP / .PDF maximale grote 5MB</span>
                    </a>
                    <div class="form-group">
                        <input type="checkbox" class="styled-checkbox" name="standaard-bon" id="standaard-bon" />
                        <label for="standaard-bon">Standaard bon gebruiken</label>
                    </div>

                    <div class="form-group">
                        <label>Product</label>
                        <select class="form-control">
                            <option value=""></option>
                            <option value="product-1">Product 1</option>
                            <option value="product-2">Product 2</option>
                        </select>
                    </div>

                    <span class="display-block">Streepjescode</span>
                    <span class="display-block margin-bottom-20">XXXXXXXXXXX</span>

                    <span class="display-block">Serienummer</span>
                    <span class="display-block margin-bottom-20">XXXXXXXXXXX</span>

                    <span class="display-block">Bonnummer</span>
                    <span class="display-block margin-bottom-20">Undefined</span>

                    <span class="display-block">Retailer</span>
                    <span class="display-block margin-bottom-20">Bol.com</span>

                    <div class="col-xs-7 padding-left-0">
                        <span>
                            Huidige bon<br>
                            Klik op de bon om deze te vergroten en te bekijken.
                        </span>
                    </div>

                    <div class="col-xs-5 padding-right-0">
                        <a href="current-receipt-page.html" title="Current Receipt Page">
                            <img class="current-receipt pull-right" src="assets/images/huidige-bon.jpg" />
                        </a>
                    </div>

                    <div class="clearfix"></div>

                    <a class="btn btn-primary text-left icon-caret-right" data-toggle="button">
                        BON OVERSCHRIJVEN - KIES BESTAND
                        <span class="text-xs">.JPG / .BMP / .PDF maximale grote 5MB</span>
                    </a>
                    <div class="form-group">
                        <input type="checkbox" class="styled-checkbox" name="standaard-bon" id="standaard-bon" />
                        <label for="standaard-bon">Standaard bon gebruiken</label>
                    </div>

                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control">
                            <option value="">Status</option>
                            <option value="open">Open</option>
                            <option value="gesloten">Gesloten</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Factuurbedrag</label>
                        <input type="text" class="form-control" name="factuurbedrag" placeholder="&euro;0,00" />
                    </div>

                    <div class="form-group">
                        <label>Aanvullende opmerkingen</label>
                        <textarea type="text" class="form-control" rows="6" placeholder="Opmerking"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#panelTitleFour" aria-expanded="false" aria-controls="panelTitleFour">
                    VERZEND INFORMATIE
                    <i class="fa fa-check hidden" aria-hidden="true"></i>
                </a>
            </h4>
        </div>
        <div id="panelTitleFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                <div class="block block-warning background-color-orange">
                    <span>
                        Nog niet verwerkt
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <a class="btn btn-primary text-left icon-caret-right" data-toggle="button">
        WIJZIGINGEN OPSLAAN
    </a>

    <a class="btn btn-primary text-left icon-envelope" data-toggle="button">
        STUUR EEN E-MAIL
    </a>

    <a class="btn btn-default btn-light text-left icon-caret-left" data-toggle="button">
        TERUG NAAR RESULTATEN
    </a>
</div>