<div class="container margin-top-30">
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-default" data-toggle="button">
                <span>btn-default</span>
            </a>

            <a class="btn btn-default icon-check" data-toggle="button">
                <span>btn-default - icon-check</span>
            </a>

            <a class="btn btn-default text-left icon-plus" data-toggle="button">
                <span>btn-default text-left icon-plus</span>
            </a>

            <a class="btn btn-default text-left" data-toggle="button">
                <span>btn-default text-left</span>
            </a>

            <a class="btn btn-default btn-split icon-check" data-toggle="button">
                <span><span class="ellipsis">btn btn-default btn-split icon-check</span></span>
                <span><span class="ellipsis">btn btn-default btn-split icon-check</span></span>
            </a>

            <div class="col-xs-8 padding-left-0">
                <a class="btn btn-default" data-toggle="button">
                    <span>btn-default</span>
                </a>
            </div>

            <div class="col-xs-4 padding-right-0">
                <a class="btn btn-default" data-toggle="button">
                    <span>btn-default</span>
                </a>
            </div>
        </div>

        <div class="col-xs-12">
            <a class="btn btn-default btn-dark text-left icon-caret-left" data-toggle="button">
                <span>btn-default btn-dark icon-caret-left</span>
            </a>
        </div>

        <div class="col-xs-12">
            <a class="btn btn-default btn-light text-left icon-caret-left" data-toggle="button">
                <span>btn-default btn-light icon-caret-left</span>
            </a>
        </div>

        <div class="col-xs-12">
            <a class="btn btn-primary" data-toggle="button">
                <span>btn-primary</span>
            </a>

            <a class="btn btn-primary text-left icon-caret-right" data-toggle="button">
                <span>btn-primary text-left icon-caret-right</span>
            </a>

            <a class="btn btn-primary text-left icon-caret-right" data-toggle="button">
                <span>btn-primary text-left icon-caret-right</span>
                <span class="text-xs">text-xs</span>
            </a>

            <a class="btn btn-primary text-left icon-envelope" data-toggle="button">
                <span>btn-primary text-left icon-envelope</span>
            </a>

            <a class="btn btn-primary btn-disabled" data-toggle="button">
                <span>btn-primary btn-disabled</span>
            </a>
        </div>

        <div class="col-xs-12">
            <a class="btn btn-secondary" data-toggle="button">
                <span>btn btn-secondary</span>
            </a>
            <a class="btn btn-secondary btn-sm" data-toggle="button">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
            <a class="btn btn-secondary btn-sm" data-toggle="button">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            <a class="btn btn-secondary btn-sm" data-toggle="button">
                C
            </a>
            <a class="btn btn-secondary btn-sm" data-toggle="button">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
            <a class="btn btn-secondary btn-sm" data-toggle="button">
                <i class="fa fa-archive" aria-hidden="true"></i>
            </a>
            <a class="btn btn-secondary btn-sm" data-toggle="button">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-xs-12">
            <div class="fade-button-block">
                <a class="btn btn-default fade-button first" data-toggle="button">
                    <span>Actie code</span>
                </a>
                <a class="btn btn-default fade-button second" data-toggle="button">
                    <span>Campagne naam</span>
                </a>
                <a class="btn btn-default text-left icon-plus extra-input display-none" data-toggle="button">
                    <span>btn-default text-left icon-plus</span>
                </a>
                <input type="text" class="fade-input form-control display-none" placeholder="Vul hier uw code in" />
            </div>
        </div>
    </div>
</div>