<div class="mobile">
    <div class="c100 p78 big">
                <span>
                    <img src="assets/images/mobile.svg" alt="mobiel"/>
                </span>
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
    </div>
    <span class="display-block text-center">Mobiele</span>
    <span class="display-block text-center">gebruikers:</span>
    <span class="display-block text-center green-color">78%</span>
</div>