<div class="desktop">
    <div class="c100 p22 big">
                <span>
                    <img src="assets/images/desktop.svg" alt="desktop"/>
                </span>
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
    </div>
    <span class="display-block text-center">Desktop</span>
    <span class="display-block text-center">gebruikers:</span>
    <span class="display-block text-center green-color">22%</span>
</div>