<div class="container">

    <img class="logo" src="assets/images/logo.svg" />
    <span class="title">Controle</span>
    <span class="desc">
    Hieronder kunt u de naam van uw
    campagne invullen. Daarna kunt u de naam
    van de actie en brand invullen.
    </span>

    <div class="block-divider">
        <span class="step-title margin-top-30">Stap 1:</span>
        <span class="step-text bold">Campagne</span>
        <span class="step-text">Cashback actie bol.com</span>
    </div>

    <div class="block-divider">
        <span class="step-text bold">Naam campagne</span>
        <span class="step-text">Bol.com Cashback campagne. 20 euro cashback op de aankoop van een boormachine</span>
    </div>

    <div class="block-divider">
        <span class="step-text bold">Brand</span>
        <span class="step-text">Novik</span>
    </div>

    <div class="block-divider">
        <a class="btn btn-secondary btn-sm" data-toggle="button">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
    </div>

    <span class="line"></span>

    <div class="block-divider">
        <span class="step-title">Stap 2:</span>
        <span class="step-text bold">Beschikbare talen</span>
        <span class="step-text">Nederlands</span>
    </div>

    <div class="block-divider">
        <a class="btn btn-secondary btn-sm" data-toggle="button">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
    </div>

    <span class="line"></span>

    <div class="block-divider">
        <span class="step-title">Stap 3:</span>
        <span class="step-text bold">Startdatum campagne inschrijving</span>
        <span class="step-text">31 oktober 2017</span>
    </div>

    <div class="block-divider">
        <span class="step-text bold">Einddatum campagne inschrijving</span>
        <span class="step-text">10 december 2017</span>
    </div>

    <div class="block-divider">
        <span class="step-text bold">Einddatum verwerking</span>
        <span class="step-text">1 januari 2018</span>
    </div>

    <div class="block-divider">
        <a class="btn btn-secondary btn-sm" data-toggle="button">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
    </div>

    <span class="line"></span>

    <div class="block-divider">
        <span class="step-title">Stap 4:</span>
        <span class="step-text bold">Campagne type</span>
        <span class="step-text">Actie code: ABC123ABC123</span>
    </div>

    <div class="block-divider">
        <a class="btn btn-secondary btn-sm" data-toggle="button">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
    </div>

    <span class="line"></span>

    <div class="block-divider">
        <span class="step-title">Stap 5:</span>
        <span class="step-text bold">Campagne vorm</span>
        <span class="step-text">Cashback</span>
    </div>

    <div class="block-divider">
        <a class="btn btn-secondary btn-sm" data-toggle="button">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
    </div>

    <span class="line"></span>

    <div class="block-divider">
        <span class="step-title">Stap 6:</span>
        <span class="step-text bold">Bedrag keuze</span>
        <span class="step-text">20 euro desk</span>
    </div>

    <div class="block-divider">
        <a class="btn btn-secondary btn-sm" data-toggle="button">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
    </div>

    <span class="line"></span>

    <div class="block-divider">
        <span class="step-title">Stap 7:</span>
        <span class="step-text bold">Gegevens invoer</span>
        <span class="step-text">Consumentencampagne</span>
    </div>

    <div class="block-divider">
        <a class="btn btn-secondary btn-sm" data-toggle="button">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
    </div>

    <span class="line"></span>

    <div class="block-divider">
        <span class="step-title">Stap 8:</span>
        <span class="step-text bold">Extra informatie van de gebruiker</span>
        <span class="step-text">Nee</span>
    </div>

    <div class="block-divider">
        <a class="btn btn-secondary btn-sm" data-toggle="button">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
    </div>

    <span class="line"></span>

    <div class="block-divider">
        <span class="step-title">Stap 9:</span>
        <span class="step-text bold">Product gegevens</span>
        <span class="step-text">260W Bosch boormachine</span>
    </div>

    <div class="block-divider">
        <a class="btn btn-secondary btn-sm" data-toggle="button">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
    </div>

    <span class="line"></span>

    <div class="block-divider">
        <span class="step-title">Stap 10:</span>
        <span class="step-text bold">Aankoop gegevens</span>
        <span class="step-text">Retailer, serienummer, streepjescode, bonnummer, uploaden bon</span>
    </div>

    <div class="block-divider">
        <a class="btn btn-secondary btn-sm" data-toggle="button">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
    </div>

    <span class="line"></span>

    <div class="block-divider">
        <span class="step-title">Stap 11</span>
        <span class="step-text bold">Retailers</span>
        <span class="step-text">Bol.com</span>
    </div>

    <div class="block-divider">
        <a class="btn btn-secondary btn-sm" data-toggle="button">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
    </div>

    <span class="line"></span>

    <div class="block-divider">
        <span class="step-title">Stap 12:</span>
        <span class="step-text bold">Aanmelding nieuwsbrief</span>
        <span class="step-text">Ja</span>
    </div>

    <div class="block-divider">
        <a class="btn btn-secondary btn-sm" data-toggle="button">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
    </div>

    <span class="line"></span>

    <div class="block-divider">
        <span class="step-title">Stap 13:</span>
        <span class="step-text bold">Actie gerichte voorwaarden</span>
        <span class="step-text">Nee</span>
    </div>

    <div class="block-divider">
        <a class="btn btn-secondary btn-sm" data-toggle="button">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
    </div>

    <a class="btn btn-primary" data-toggle="button">
        maak actie aan
    </a>
</div>