<div class="container hidden-desktop">
    <div class="row">
        <div class="col-xs-12">
            <div class="logo-full">
                <img src="assets/images/logo-full.png" alt="NOVIK logo"/>
            </div>

            <div class="info-counter">
                <span class="info-counter-text">Totaal aantal deelnemers: <span class="green-color">14.889</span></span>
            </div>

            <div class="info-counter">
                <span class="info-counter-text">Kostenbesparing tot nu toe: <span class="green-color">101.345</span></span>
            </div>

            <div class="info-counter">
                <span class="info-counter-text">Bespaarde uren: <span class="green-color">428</span></span>
            </div>

            <span class="line-link">
                <a href="" title="">Hoe zijn deze gegevens ontstaan?</a>
            </span>

            <img class="logo" src="assets/images/logo.svg" alt="NOVIK logo"/>
            <span class="title">Campagnes</span>

            <a class="btn btn-default text-left icon-plus green-background" data-toggle="button">
                Nieuwe campagne aanmaken
            </a>

            <span class="error text-center display-block margin-bottom-20">De volgende campagne is nog niet compleet!<br />Deze actie loopt niet totdat deze zijn ingevuld.</span>

            <a href="" class="block" title="">
                <div class="block-info">
                    <span class="block-title bold">
                        Gratis 34-delige X-line
                        accessoireset couponactie
                    </span>

                    <div class="block-divider"></div>
                    <span class="block-actie">
                        Cadeau campagne
                    </span>
                    <span>
                        Actief t/m 10-08-2016
                    </span>
                </div>
                <div class="block-info block-info-bottom background-color-red">
                    <span>
                        - Retailers nog niet toegevoegd<br />- Productgegevens nog niet toegevoegd
                    </span>
                </div>
            </a>

            <span class="desc margin-top-30">
                Er zijn ook nog openstaande claims. Bekijk je openstaande claims om te zien welke claims jouw aandacht nodig hebben.
            </span>

            <div class="info-counter margin-bottom-20">
                <span class="info-counter-text">Aantal openstaande claims: <span class="green-color">678</span></span>
            </div>

            <a class="btn btn-primary text-left icon-caret-right" data-toggle="button">
                bekijk alle openstaande claims
            </a>

            <a class="btn btn-primary text-left icon-caret-right" data-toggle="button">
                ga naar het campagne overzicht
            </a>

            <img class="logo margin-top-15" src="assets/images/logo.svg" alt="NOVIK logo"/>
            <span class="title step">Statistieken</span>
            <span class="title">Boormachine campagne</span>
            <span class="desc">
                Wil je meer weten over de statististieken van
                een bepaalde campagne en deze met andere campagnes vergelijken?
            </span>
        </div>
        <div class="col-xs-6">
            <div class="mobile">
                <img src="assets/images/mobile.svg" alt="mobiel"/>
            </div>
            <span class="display-block text-center">Mobiele</span>
            <span class="display-block text-center">gebruikers:</span>
            <span class="display-block text-center green-color">78%</span>
        </div>
        <div class="col-xs-6">
            <div class="desktop">
                <img src="assets/images/desktop.svg" alt="desktop"/>
            </div>
            <span class="display-block text-center">Desktop</span>
            <span class="display-block text-center">gebruikers:</span>
            <span class="display-block text-center green-color">22%</span>
        </div>
        <div class="col-xs-12">
            <a class="btn btn-primary text-left icon-caret-right margin-top-30" data-toggle="button">
                klik hier voor meer statistieken
            </a>
        </div>
    </div>
</div>