<div class="container hidden-mobile">
    <div class="row">
        <div class="container container-width">
            <div class="col-xs-12">
                <div class="top-content">
                    <div class="col-xs-6 padding-left-0">
                        <a class="novik-logo" href="/">
                            <img src="./assets/images/novik-logo.svg" alt="NOVIK logo"/>
                        </a>
                    </div>
                    <div class="col-xs-3 col-xs-offset-3 padding-right-0">
                        <div class="relative top-content-btn">
                            <a class="btn btn-primary icon-plus-left icon-left" data-toggle="button">
                                <span>Create a new campaign</span>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-xs-12">
                <img class="logo" src="assets/images/logo.svg"/>
                <span class="title bold">Total ticket overview all active campaigns</span>
            </div>

            <div class="col-xs-6 col-lg-4">
                <div class="block-ticket">
                    <div class="col-xs-6 padding-left-0">
                        <div class="circle red">
                            <span>123</span>
                        </div>
                    </div>
                    <div class="col-xs-6 padding-right-0">
                        <span class="block-ticket-title">Urgent Tickets</span>
                        <span class="block-ticket-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                        <a class="btn btn-primary btn-small text-left icon-caret-right" data-toggle="button">
                            <span>Go to tickets</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-lg-4">
                <div class="block-ticket">
                    <div class="col-xs-6 padding-left-0">
                        <div class="circle orange">
                            <span>215</span>
                        </div>
                    </div>
                    <div class="col-xs-6 padding-right-0">
                        <span class="block-ticket-title">In proces</span>
                        <span class="block-ticket-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                        <a class="btn btn-primary btn-small text-left icon-caret-right" data-toggle="button">
                            <span>Go to tickets</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-lg-4">
                <div class="block-ticket">
                    <div class="col-xs-6 padding-left-0">
                        <div class="circle green">
                            <span class="block-ticket-large-amount">100.987</span>
                        </div>
                    </div>
                    <div class="col-xs-6 padding-right-0">
                        <span class="block-ticket-title">Total participants</span>
                        <span class="block-ticket-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                        <a class="btn btn-primary btn-small text-left icon-caret-right" data-toggle="button">
                            <span>Go to tickets</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-xs-12 divider"></div>

            <div class="col-xs-6 col-lg-4">
                <div class="block-top-bg">
                    <div class="block-top">
                        <span>Campaign participants</span>
                    </div>
                </div>
                <div class="block-top-bg">
                    <div class="block-top">
                        <span>DEVICE USAGE</span>
                    </div>
                </div>
                <div class="block-top-bg">
                    <div class="block-top">
                        <span>BEST CHOSEN PRODUCTS</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-lg-4">
                <div class="block-top-bg">
                    <div class="block-top">
                        <span>TOP 5 CHOSEN ACTIVE CAMPAIGNS</span>
                    </div>
                    <div class="top-chosen">
                        <div class="col-xs-3 padding-right-0 padding-left-0">
                            <div class="top-5">
                                <span>1</span>
                            </div>
                        </div>
                        <div class="col-xs-6 padding-right-0 padding-left-0">
                            <div class="top-text">
                                <span>Boormachine actie bol.com</span>
                            </div>
                        </div>
                        <div class="col-xs-3 padding-right-0 padding-left-0 text-center">
                            <div class="edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="top-chosen">
                        <div class="col-xs-3 padding-right-0 padding-left-0">
                            <div class="top-5">
                                <span>2</span>
                            </div>
                        </div>
                        <div class="col-xs-6 padding-right-0 padding-left-0">
                            <div class="top-text">
                                <span>Boormachine actie bol.com</span>
                            </div>
                        </div>
                        <div class="col-xs-3 padding-right-0 padding-left-0 text-center">
                            <div class="edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="top-chosen">
                        <div class="col-xs-3 padding-right-0 padding-left-0">
                            <div class="top-5">
                                <span>3</span>
                            </div>
                        </div>
                        <div class="col-xs-6 padding-right-0 padding-left-0">
                            <div class="top-text">
                                <span>Boormachine actie bol.com</span>
                            </div>
                        </div>
                        <div class="col-xs-3 padding-right-0 padding-left-0 text-center">
                            <div class="edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="top-chosen">
                        <div class="col-xs-3 padding-right-0 padding-left-0">
                            <div class="top-5">
                                <span>4</span>
                            </div>
                        </div>
                        <div class="col-xs-6 padding-right-0 padding-left-0">
                            <div class="top-text">
                                <span>Boormachine actie bol.com</span>
                            </div>
                        </div>
                        <div class="col-xs-3 padding-right-0 padding-left-0 text-center">
                            <div class="edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="top-chosen">
                        <div class="col-xs-3 padding-right-0 padding-left-0">
                            <div class="top-5">
                                <span>5</span>
                            </div>
                        </div>
                        <div class="col-xs-6 padding-right-0 padding-left-0">
                            <div class="top-text">
                                <span>Boormachine actie bol.com</span>
                            </div>
                        </div>
                        <div class="col-xs-3 padding-right-0 padding-left-0 text-center">
                            <div class="edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-top-bg">
                    <div class="block-top">
                        <span>CASH BACK REFUNDS</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-lg-4">
                <div class="block-top-bg">
                    <div class="block-top">
                        <span>WHY NOVIK</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>