<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="fade-button-block">
                <a class="btn btn-default fade-button first" data-toggle="button">
                    Actie code
                </a>
                <a class="btn btn-default fade-button second" data-toggle="button">
                    Campagne naam
                </a>
                <a class="btn btn-default text-left icon-plus extra-input display-none" data-toggle="button">
                    btn-default text-left icon-plus
                </a>
                <input type="text" class="fade-input form-control display-none" placeholder="Vul hier uw code in" />
            </div>
        </div>
    </div>
</div>