<div class="container">
    <div class="col-xs-12">
        <table class="barchart">
            <tbody>
                <tr>
                    <th scope="row">Jan</th>
                    <td class="bars">
                        <div type="vrouw" data-value="1000"></div>
                        <div type="man" data-value="2000"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Feb</th>
                    <td class="bars">
                        <div type="vrouw" data-value="750"></div>
                        <div type="man" data-value="1500"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Maa</th>
                    <td class="bars">
                        <div type="vrouw" data-value="650"></div>
                        <div type="man" data-value="1600"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Apr</th>
                    <td class="bars">
                        <div type="vrouw" data-value="700"></div>
                        <div type="man" data-value="1250"></div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="legend">
                        <div type="vrouw">
                            Vrouw
                        </div>
                        <div type="man">
                            Man
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>