<div class="graph">
    <div class="graph-block">
        <div class="date">Jan</div>
        <span class="bar-con"><span class="bar width-40"></span><span class="text">1000</span></span>
        <span class="bar-con"><span class="bar width-10"></span><span class="text">2000</span></span>
    </div>
    <div class="graph-block">
        <div class="date"></div>
        <span class="bar-con visiblity-hidden"><span class="bar"></span></span>
        <span class="bar-con visiblity-hidden"><span class="bar"></span></span>
    </div>
    <div class="graph-block">
        <div class="date">Feb</div>
        <span class="bar-con"><span class="bar width-30"></span><span class="text">1000</span></span>
        <span class="bar-con"><span class="bar width-50"></span><span class="text">2000</span></span>
    </div>
    <div class="graph-block">
        <div class="date"></div>
        <span class="bar-con visiblity-hidden"><span class="bar"></span></span>
        <span class="bar-con visiblity-hidden"><span class="bar"></span></span>
    </div>
    <div class="graph-block">
        <div class="date border-zero"></div>
        <div class="legenda">
            <span class="gender-color background-color-green"></span>
            <span class="gender-text">Vrouw</span>
            <span class="gender-color background-color-gray"></span>
            <span class="gender-text">Man</span>
        </div>
    </div>
</div>
<div class="clearfix"></div>