<div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li class="active"><a href="/accordions-page.html" title="Accordions page">Accordions page</a></li>
        <li><a href="/accordions-page-two.html" title="Accordions page Two">Accordions page Two</a></li>
        <li><a href="/blocks-page.html" title="Blocks page">Blocks page</a></li>
        <li><a href="/buttons-page.html" title="Buttons page">Buttons page</a></li>
        <li><a href="/controle-page.html" title="Controle page">Controle page</a></li>
        <li><a href="/dashboard-page.html" title="Dashboard">Dashboard page</a></li>
        <li><a href="/forms-page.html" title="Forms page">Forms page</a></li>
        <li><a href="/login-page.html" title="Login Page">Login page</a></li>
        <li><a href="/progressbar-page.html" title="Progressbar page">Progressbar page</a></li>
        <li><a href="/modal-page.html" title="Modal page">Modal page</a></li>
        <li><a href="/graph-page.html" title="Graph page">Graph page</a></li>
        <li><a href="/steps.html" title="Step">Step 1 page</a></li>
    </ul>
</div>