<div class="novik-bg">
    <div class="row width-80">
        <div class="col-xs-12">
            <div class="logo-full">
                <img src="assets/images/logo-full.png" alt="NOVIK logo" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="user-name" placeholder="Gebruikersnaam">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Wachtwoord">
            </div>
            <a class="btn btn-secondary" data-toggle="button">
                Login
            </a>
            <span class="line-link">
                <a href="" title="">Inloggegevens vergeten?</a>
            </span>
        </div>
    </div>
</div>