<div class="modal-popup">
    <div class="modal-background"></div>
    <div class="center-block">
        <div class="info-block">
            <span class="info-block-title">Heeft u alle gegevens bij de hand?</span>
            <span class="info-block-desc">
                U gaat nu een nieuwe campagne aanmaken. Hier hebt u een aantal gegevens voor nodig.<br /><br />
                Het kan voorkomen dat uw cadeau’s, product of retailers nog niet zijn aangemaakt. Heeft u bekeken of deze in het systeem staan? Cadeau’s, product en retailers zijn ook
                aan te maken tijdens de campagne
            </span>
        </div>

        <a class="btn btn-primary text-left icon-caret-right" data-toggle="button">
            Producten bekijken
        </a>
        <a class="btn btn-primary text-left icon-caret-right" data-toggle="button">
            Cadeau's / cashbedragen bekijken
        </a>
        <a class="btn btn-primary text-left icon-caret-right" data-toggle="button">
            Start aanmaken campagne
        </a>
        <a class="btn btn-default btn-light text-left icon-caret-left modal-cancel" data-toggle="button">
            Annuleer
        </a>
    </div>
</div>

<button type="button" class="btn btn-default btn-modal">MODAL</button>