<ul class="progress-bar-menu display-none">
    <li>
        <a href="" title="">
            <span>Stap 1</span>
            Campagne naam
        </a>
    </li>
    <li class="inactive">
        <a href="" title="">
            <span>Stap 2</span>
            Campagne brand
        </a>
    </li>
    <li class="inactive">
        <a href="" title="">
            <span>Stap 3</span>
            Campagne controle
        </a>
    </li>
    <li class="inactive">
        <a href="" title="">
            <span>Stap 4</span>
            Campagne controle
        </a>
    </li>
    <li class="inactive">
        <a href="" title="">
            <span>Stap 5</span>
            Campagne controle
        </a>
    </li>
    <li class="inactive">
        <a href="" title="">
            <span>Stap 6</span>
            Campagne controle
        </a>
    </li>
    <li class="inactive">
        <a href="" title="">
            <span>Stap 7</span>
            Campagne controle
        </a>
    </li>
    <li class="inactive">
        <a href="" title="">
            <span>Stap 8</span>
            Campagne controle
        </a>
    </li>
    <li class="inactive">
        <a href="" title="">
            <span>Stap 9</span>
            Campagne controle
        </a>
    </li>
    <li class="inactive">
        <a href="" title="">
            <span>Stap 10</span>
            Campagne controle
        </a>
    </li>
    <li class="inactive">
        <a href="" title="">
            <span>Stap 11</span>
            Campagne controle
        </a>
    </li>
    <li class="inactive">
        <a href="" title="">
            <span>Stap 12</span>
            Campagne controle
        </a>
    </li>
    <li class="inactive">
        <a href="" title="">
            <span>Stap 13</span>
            Campagne controle
        </a>
    </li>
    <li>
        <a id="progressmenuCancel" class="btn btn-primary display-none" data-toggle="button">
            terug
        </a>
    </li>
</ul>