<img class="logo" src="assets/images/logo.svg" />
<span class="title step">Stap 1</span>
<span class="title">Campagne naam</span>
<span class="desc">
    Hieronder kunt u de naam van uw
    campagne invullen. Daarna kunt u de naam
    van de actie en brand invullen.
</span>