<div class="toolbar">
    <a href="" class="toolbar-options">
        <span class="toolbar-block">
            <span class="icon icon-question"></span>
        </span>
    </a>
    <a href="" class="toolbar-options">
        <span class="toolbar-block">
            <span class="icon icon-overview"></span>
            <span>Overview</span>
        </span>
    </a>
    <a href="" class="toolbar-options">
        <span class="toolbar-block">
            <span class="icon icon-plus"></span>
            <span>Create a new campaign</span>
        </span>
    </a>
    <a href="" class="toolbar-options">
        <span class="toolbar-block">
            <span class="icon icon-view"></span>
            <span>View</span>
        </span>
    </a>
    <a href="" class="toolbar-options">
        <span class="toolbar-block">
            <span class="icon icon-pie-chart"></span>
        </span>
    </a>
</div>