// FONT FAMILY
$font-family-default: 'Roboto', sans-serif;
$font-family-primary: 'Verdana';

$font-family-icon: 'FontAwesome';

// FONT SIZE
$font-size-h1: 50px;
$font-size-h2: 40px;
$font-size-h3: 40px;
$font-size-h4: 30px;
$font-size-h5: 28px;
$font-size-h6: 22px;

// COLORS
$white: #ffffff;
$black: #000000;

$blue: #93ABB2;
$beige: #F8F8F8;
$red: #E26F6F;
$orange: #F8AB53;

$gray: #CBCBCB;
$gray-border: #B3B3B4;
$gray-light: #93ABB2;
$gray-lighter: #e7e7e8;
$gray-lightest: #e0e0e0;
$gray-dark: #95989A;
$gray-darker: #626366;
$green: #A7D2A8;
$green-light: #F6FAF6;

// BUTTONS
$btn-light: #e3e9eb;
$btn-dark: #9fa0a1;

// MEDIA QUERIES
$screen-xxs: 320px;
$screen-xlg: 1440px;

// Z-INDEX
$z-index-fade-input: 10;
$z-index-fade-button: 11;
$z-index-progressmenu: 20;
$z-index-nav: 30;
$z-index-nav-header: 40;
$z-index-modal: 50;

