<!DOCTYPE html>
<html lang="en">
{% include '../partials/global/head.html.twig' %}
<body class="novik-bg">

{% include '../partials/global/header.html.twig' %}

{% include '../partials/topbar.html.twig' %}

<img src="./assets/media/logo-full.png">

{% block page %}{% endblock %}

</body>
</html>